<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
     <add key="ClientSettingsProvider.ServiceUri" value="" />
     <add key="DomainNames"       value="programify.com, www.programify.com, 10.0.0.5" />
     <add key="HttpMethods"       value="¬GET¬" />
     <add key="LocalizedServerIP" value="10.0.0.4" />
     <add key="LogName"           value="rpengine.csv.log" />
     <add key="LogFolder"         value="D:\Programify\GitHub\RPEngine\Logs\" />
     <add key="ReverseProxyIP"    value="10.0.0.5" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="ReverseProxy.ReverseProxy, ReverseProxy" />
    </httpHandlers>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>